/* main.css */

body {
  font-family: "Lucida Console", "Courier New", monospace;
  /*
    background-image: radial-gradient(circle at center, #d8d8d8 1px, transparent 1px);
    background-size: 5px 5px;
    background-color: #ffffff;
  */
  background-image: repeating-linear-gradient(45deg, #d8d8d8 0, #d8d8d8 1px, transparent 0, transparent 50%);
  background-size: 9px 9px;
  background-color: #ffffff;
}

h1 {
  word-wrap: break-word;
}

h1 span {
  font-size: 1.6em;
  border-color: #000000;
  padding: 0 2px;
  animation-name: selectorsFlicker;
  animation-duration: 0.3s;
}

@media only screen and (max-width: 600px) {
  h1 span {
    font-size: 0.7em;
  }
}

h1 span:nth-child(1) {
  background-color: #000000;
  color: #ffffff;
}
h1 span:nth-child(2) {
  background-color: #0000d8;
  color: #ffffff;
}
h1 span:nth-child(3) {
  background-color: #0000ff;
  color: #ffffff;
}
h1 span:nth-child(4) {
  background-color: #d80000;
  color: #ffffff;
}
h1 span:nth-child(5) {
  background-color: #ff0000;
  color: #ffffff;
}
h1 span:nth-child(6) {
  background-color: #d800d8;
  color: #ffffff;
}
h1 span:nth-child(7) {
  background-color: #ff00ff;
  color: #ffffff;
}
h1 span:nth-child(8) {
  background-color: #00d800;
  color: #ffffff;
}
h1 span:nth-child(9) {
  background-color: #00ff00;

}
h1 span:nth-child(10) {
  background-color: #00d8d8;
}
h1 span:nth-child(11) {
  background-color: #00ffff;
}
h1 span:nth-child(12) {
  background-color: #d8d800;
}
h1 span:nth-child(13) {
  background-color: #ffff00;
}
h1 span:nth-child(14) {
  background-color: #d8d8d8;
}

h2 {
  margin-bottom: 0;
}

button {
  background-color: #000000;
  border: 1px solid #000000;
  border-color: #000000;
  color: #ffffff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 600;
  margin-right: 2px; 
  padding: 6px 12px;
  text-transform: uppercase;
  animation-name: selectorsFlicker;
  animation-duration: 0.3s;
}

button:not(:disabled):hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

button:disabled {
  cursor: default;
  opacity: 80%;
}

button.warning {
  background-color: #d80000;
}

button.warm {
  background-color: #00d800;
}

em {
  font-size: 80%;
}

.lane span,
.upper {
  text-transform: uppercase;
}

.ground {
  background-color: #d8d800;
  border: 1px solid #000000;
  min-height: 215px;
  min-width: 300px;
  position: relative;
}

#history{
  overflow-wrap: break-word;
}

.track {
  /*background: url("./grass.webp") repeat;*/
  background-color: #00d800;
  background-image:
      linear-gradient(45deg, #00d800 26%, transparent 26%), 
      linear-gradient(135deg, #00ff00 26%, transparent 26%),
      linear-gradient(45deg, transparent 75%, #d8d800 75%),
      linear-gradient(135deg, transparent 75%, #00d800 75%);
  background-size: 20px 20px; /* Must be a square */
  background-position: 0 0, 10px 0, 10px -10px, 0px 10px; /* Must be half of one side of the square */
  position: relative;
}

.track:after {
  background-image:
    linear-gradient(45deg, #d8d8d8 26%, transparent 26%), 
    linear-gradient(135deg, #d8d8d8 26%, transparent 26%),
    linear-gradient(45deg, transparent 75%, #d8d8d8 75%),
    linear-gradient(135deg, transparent 75%, #d8d8d8 75%);
  background-size: 20px 20px; /* Must be a square */
  background-position: 0 0, 10px 0, 10px -10px, 0px 10px; /* Must be half of one side of the square */
  content: "Finish";
  display: block;
  font-weight: 600;
  padding: 4px 16px;
  position: absolute;
  right: -16px;
  rotate: 90deg;
  text-transform: uppercase;
  top: 40%;
}

#lanes {
  border-left: 5px solid #d8d800;
  border-right: 5px solid #d8d800;
  overflow: hidden;
}

#lanes > div {
  border: 1px solid #000000;
  font-size: 12px;  
  height: 20px;
  width: 2px;
}

#lanes > div.active {
  border-color: #d8d800 !important;
}

#lanes > div span {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 4px;
  min-width: 30px;
  padding: 0 4px 0 8px;
}

#lanes > div.active span {
  font-weight: 800;
  font-size: 1.5em;
  background-color: #d8d800;
}

#selectors {
  min-height: 100px;
}

#selectors button {
  color: #000000;
  font-size: 1em;
  margin-bottom: 2px;
  min-height: 46px;
  min-width: 72px;
}

#selectors button.active {
  border-color: #d8d800;
  border-width: 3px;
}
#selectors button:not(.winner).loser {
  background-color: white !important;
  color: black  !important;
}

#selectors button.winner {
  background-color: inherit;
}

#selectors button.dark {
  color: #ffffff;
}

#selectors button:not(.winner):not(.active):not(:disabled):hover {
  background-color: #ffffff !important;
  border-color: #000000;
  color: #000000;
}

@keyframes selectorsFlicker {
  0%   {background-color: #000000;}
  12.5%  {background-color: #0000ff;}
  25%  {background-color: #ff0000;}
  37.5% {background-color: #d800d8;}
  50%   {background-color: #00ff00;}
  62.5%  {background-color: #00ffff;}
  75%  {background-color: #ffff00;}
  100% {background-color: #ffffff;}
}

#wallet {
  background-color: transparent;
  font-size: 1.8em;
  text-align: right;
}

.stake-message {
  color: #ffffff;
  position: absolute;
  right: 16px;
  top: 8px;
  font-size: 1em;
  z-index: 2;
}

.dark,
#selectors button:disabled.dark,
#selectors button:disabled.dark:hover,
.dark span {
  color: #ffffff;
}
