/* main.css */

body {
  background-color: #ffffff;
  font-family: "Lucida Console", "Courier New", monospace;
  /*background-image: repeating-linear-gradient(45deg, #d8d8d8 0, #d8d8d8 1px, transparent 0, transparent 50%);
  background-size: 9px 9px;
  background-color: #ffffff;*/
}
body,
.ground {
  background-image: radial-gradient(circle at center, #d8d8d8 1px, transparent 1px);
  background-size: 5px 5px;
}

#container-app-1 {
  min-width: 300px;
  max-width: 3000px
}

h1 {
  word-wrap: break-word;
}
h1 span {
  font-size: 1.6em;
  border-color: #000000;
  padding: 0 2px;
  animation-name: selectorsFlicker;
  animation-duration: 0.3s;
}
h1 span:nth-child(1) {
  background-color: #000000;
  color: #ffffff;
}
h1 span:nth-child(2) {
  /*background-color: #0100ce;*/
  background-color: #0100ce;
  color: #ffffff;
}
h1 span:nth-child(3) {
  background-color: #0200fd;
  color: #ffffff;
}
h1 span:nth-child(4) {
  background-color: #cf0100;
  color: #ffffff;
}
h1 span:nth-child(5) {
  background-color: #ff0201;
  color: #ffffff;
}
h1 span:nth-child(6) {
  background-color: #cf01ce;
  color: #ffffff;
}
h1 span:nth-child(7) {
  background-color: #ff02fd;
  color: #ffffff;
}
h1 span:nth-child(8) {
  background-color: #00cf15;
  color: #ffffff;
}
h1 span:nth-child(9) {
  background-color: #00ff1c;
}
h1 span:nth-child(10) {
  background-color: #01cfcf;
}
h1 span:nth-child(11) {
  background-color: #02ffff;
}
h1 span:nth-child(12) {
  background-color: #cfcf15;
}
h1 span:nth-child(13) {
  background-color: #ffff1d;
}
h1 span:nth-child(14) {
  background-color: #cfcfcf;
}

button {
  background-color: #000000;
  border: 1px solid #000000;
  border-color: #000000;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  min-height: 50px;
  padding: 6px 12px;
  text-transform: uppercase;
  animation-name: selectorsFlicker;
  animation-duration: 0.3s;
}
button:not(:disabled):hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
button:disabled {
  cursor: default;
  background-color: #ffffff;
  color: #000000;
}
button:not(:disabled).warning {
  background-color: #cf0100;
}
button:not(:disabled).warm {
  background-color: #00cf15;
}

em {
  font-size: 80%;
}

#bank {
  background-color: transparent;
  border: none;
  font-size: 1.8em;
}

.ground {
  display: flex;
  background-color: #d8d800;
  border: 1px solid #000000;
  flex-wrap: wrap;
  min-height: 215px;
  position: relative; 
}
.ground p {
  margin: 0;
}
.ground > div:nth-child(2) {
  width: 25%;
}
.ground > div:nth-child(2) {
  min-height: 60px;
}
.ground > div:nth-child(2) #bank,
.ground > div:nth-child(2) label {
  padding-left: 4px;
}
.ground > div:nth-child(2) #bank {
  color: black;
  font-weight: 600;
  padding-left: 4px;
}

#history{
  overflow-wrap: break-word;
}

.track {
  position: relative;
  width: 100%;
}
.track:before {
  background-image:
    linear-gradient(45deg, #d8d8d8 26%, transparent 26%), 
    linear-gradient(135deg, #d8d8d8 26%, transparent 26%),
    linear-gradient(45deg, transparent 75%, #d8d8d8 75%),
    linear-gradient(135deg, transparent 75%, #d8d8d8 75%);
  background-size: 20px 20px; /* Must be a square */
  background-position: 0 0, 10px 0, 10px -10px, 0px 10px; /* Must be half of one side of the square */
  content: "Finish";
  display: block;
  font-weight: 600;
  padding: 4px 16px;
  position: absolute;
  right: -16px;
  transform: rotate(90deg);
  text-transform: uppercase;
  top: 40%;
}
#lanes {
  background-color: #00cf15;
  background-image:
      linear-gradient(45deg, #00cf15 26%, transparent 26%), 
      linear-gradient(135deg, #00ff1c 26%, transparent 26%),
      linear-gradient(45deg, transparent 75%, #d8d800 75%),
      linear-gradient(135deg, transparent 75%, #00cf15 75%);
  background-size: 20px 20px; /* Must be a square */
  background-position: 0 0, 10px 0, 10px -10px, 0px 10px; /* Must be half of one side of the square */
  border-left: 5px solid #d8d800;
  border-right: 5px solid #d8d800;
  overflow: hidden;
}
#lanes.race-progress {
  animation: Move 30s ease infinite;
}
#lanes > div {
  border: 1px solid #000000;
  font-size: 12px;  
  height: 28px;
  position: relative;
  width: 2px;
}
#lanes > div.active {
  border-color: #d8d800 !important;
}
#lanes > div span {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 4px;
  min-width: 30px;
  padding: 0 4px 0 20px;
}
#lanes > div.active span {
  font-size: 1.5em;
  font-weight: 800;
  background-color: #d8d800;
}
#lanes > div:after {
  position: absolute;
  right: -14px;
  scale: 110%;
  top: 0;
}
#lanes > div:after {
  content: url("./horse-f1.webp");
}
#lanes.race-sprite-alt > div:after {
  content: url("./horse-f2.webp");
}

#message {
  margin: 0;
  padding-top: 4px;
  width: 75%;
}

#selectors button {
  color: #000000;
  min-height: 70px;
  min-width: 118px;
}
#selectors button.active {
  border-color: #d8d800;
  border-width: 5px;
}
#selectors button:not(.winner).loser {
  background-color: white !important;
  color: black  !important;
}
#selectors button.winner {
  background-color: inherit;
}
#selectors button.dark {
  color: #ffffff;
}
#selectors button:not(.winner):not(.active):not(:disabled):hover {
  background-color: #ffffff !important;
  border-color: #000000;
  color: #000000;
}
#selectors button:disabled.dark,
#selectors button:disabled.dark:hover,
.dark,
.dark span {
  color: #ffffff;
}

.upper,
.lane span {
  text-transform: uppercase;
}

/* Media Querys */
@media only screen and (max-width: 600px) {
  h1 span {
    font-size: 0.7em;
  }
  #selectors {
    display: flex;
    flex-wrap: wrap;
  }
  #selectors button {
    flex: 0 0 33.333%;
    min-width: unset;
    outline: 0.5px solid #ffffff;
    outline-offset: -0.5px;
  }
}
@media only screen and (min-width: 601px) {
  button {
    font-size: 1.6em;
  }
  #selectors button {
    font-size: 2em;
    margin: 0 8px 8px 0;
    min-width: 118px;
  }
}

/* Animations */
@keyframes Move {
  from { background-position: 100% 0; }
  to { background-position: 0 0; }
}
@keyframes selectorsFlicker {
  0%   {background-color: #000000;}
  12.5%  {background-color: #0200fd;}
  25%  {background-color: #ff0201;}
  37.5% {background-color: #cf01ce;}
  50%   {background-color: #00ff1c;}
  62.5%  {background-color: #02ffff;}
  75%  {background-color: #ffff00;}
  100% {background-color: #ffffff;}
}
